.nav-sidebar {
  background-color: $nav;
  height: 100%;
}

.nav-search {
  &__autocomplete-body {
    & input {
      border-radius: 0;
      border: none;
    }
  }

  &__autocomplete-template {
    left: 0 !important;
    top: 35px !important;
    & li {
      white-space: normal !important;
    }
  }

  &__autocomplete-item {
    padding: 10px 20px;
  }
}

.users-menu {
  height: calc(100% - 80px);

  & li {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid $nav-item_hover;
    padding: 10px;
    box-sizing: border-box;
    position: relative;

    &:hover,
    &.is_active {
      background-color: $nav-item_hover;
    }
  }

  & &__item {
    &__email {
      position: absolute;
      bottom: 0;
      right: 3px;
      font-size: 10px;
      color: #607d8b;
    }
  }
}

.add-user-wrapper {
  width: 100%;
  height: 40px;

  & &__btn {
    width: 100%;
    text-align: center;
    background-color: $bg-btn_primary;
    color: $color-btn_primary;
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: $bg-btn_primary;
      color: $color-btn_primary;
    }
  }
}
