// colors
$main-bg: #E0F2F1;
$nav: #E8EAF6;
$nav-item_hover: #C5CAE9;
$bg-btn_primary: #afd0eb;
$color-btn_primary: #ffffff;
$scrollbar-track: #B3E5FC;
$scrollbar-thumb: #C5CAE9;
$color-autocomplete-item: #64b5f6;
$color-post-item: #64B5F6;
$bg-btn-add-post: #B2DFDB;
$delete: #EF9A9A;


//fonts
$roboto: 'Roboto', sans-serif;